<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="dk.au.daimi.ascoveco.cpn.engine.highlevel.checker"
            nameFilter="*.model"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="dk.au.daimi.ascoveco.cpn.engine.highlevel.checker.action.SyntaxCheckAction"
               id="dk.au.daimi.ascoveco.cpn.engine.highlevel.checker.action"
               label="Syntax check">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="dk.au.daimi.ascoveco.asap.category"
            name="ASAP">
      </category>
   </extension>
         
</plugin>
